* {
  margin: 0;
  padding: 0;
  list-style-type: none;
  box-sizing: border-box;
  text-decoration: none;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  width: 100%;
  margin-top: 20px;
}

#main-container {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: #d3cedf;
  border-radius: 10px;
  min-height: 450px;
  width: 50%;
}

h2 {
  margin-top: 20px;
}

#todo-container {
  margin-left: 10px;
  font-size: 20px;
  margin: 10px;
}

#todo-input {
  min-width: 1vh;
  height: 40px;
  width: 40vw;
}

#submit-btn {
  padding: 10px 30px;
  height: 40px;
}

table,
th,
td {
  border: 2px solid gray;
  border-collapse: collapse;
}

table {
  width: 95%;
}

th {
  padding: 5px;
  width: 60px;
}

td {
  cursor: pointer;
  line-height: 30px;
  padding: 2px;
}
